* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body {
   background-color: aquamarine;
}
.container {
   padding: 20px;
   margin: auto;
   max-width: 500px;
   height: 93vh;
   background-color: burlywood;
   border-radius: 5px;
}
.child {
   width: 100%;
   height: 50%;
   background-color: wheat;
   border-radius: 5px;
}
.form {
   margin-bottom: 5px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
}
.form input {
   width: 90%;
   height: 50px;
   font-size: 15px;
   background-color: cornsilk;
   border: 1px solid burlywood;
   color: brown;
   padding: 5px;
}
.form button {
   padding: 10px;
   color: whitesmoke;
   border: 1px solid brown;
   background-color: coral;
   cursor: pointer;
   transition: 0.2s;
   font-size: 20px;
   margin: 5px;
}
.form button:hover {
   color: darkred;
   border: 1px solid cornsilk;
   background-color: darkkhaki;
}
.answer-div {
   display: flex;
   justify-content: center;
   align-items: center;
}
.answer {
   font-size: 35px;
   color: darkred;
   text-align: center;
}
.reload-button {
   position: absolute;
   padding: 3px;
   top: 0;
   background-color: red;
   color: white;
   border: transparent;
   transition: 0.2s;
   cursor: pointer;
}
.reload-button:hover {
   background-color: white;
   color: red;
}
